1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [1]:
data=((1,2),(3,4))

2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [3]:
a=[4,3,2,1]

3). Create a copy of the number list using [:]

In [4]:
a=[11,12,13,"sreekar"]

print(a[:])

[11, 12, 13, 'sreekar']

4). Sort the numbers list in numerical order

In [18]:
b=[21,22,23,24,25]

c=sorted(b,reverse=True)
print(c)

[25, 24, 23, 22, 21]

5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [19]:
cardinal_numbers=["first","second","three"]

6). Display the second object in the tuple

In [6]:
cardinal_numbers=["first","second","three"]
print(cardinal_numbers[1])

second

7). Unpack the tuple into three strings and display them

In [7]:
a,b,c=cardinal_numbers
print(a)
print(b)
print(c)

first
second
three

8). Create a tuple containing the letters of your name from a string

In [2]:
my_name="sreekar reddy"
b=tuple(my_name)
print(b)

('s', 'r', 'e', 'e', 'k', 'a', 'r', ' ', 'r', 'e', 'd', 'd', 'y')

9) Check whether or not x is in my_name

In [3]:
print("x" in my_name)

False

10). Check whether or not s is in my_name

In [4]:
print("s" in my_name)

True